<div class="row">
<div class="col-md-6 mx-auto py-5 image-wrapper">  
  <img class="custom-image" src= {{picurl}} alt="Mountains" style="width:100%">
<ul class="list-group">
  <li class="list-group-item" *ngFor="let comment of this.picComments;let i = index"> 
  <img src="./assets/images/user.png" class="rounded-circle mx-2 img-avatar" alt="Avatar">{{comment}}
  <button class="btn btn-outline-dark btn-del" (click)="DeleteComment(i)" *ngIf="authService.isAdmin()"><i class="far fa-trash-alt"></i></button>
  </li>
  </ul>
  <ul class="list-group">
  <li class="list-group-item">
    <textarea type="text" class="form-control" [(ngModel)]="inputComment"></textarea>    
    <br>
      <button [disabled]= "!inputComment" class="btn btn-success btn btn-sm" (click)="AddComments()">Add Comment</button>      
    </li>
</ul>
</div>
</div>