
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 

<div class="login">
   <div class="container">
       <div class="col-lg-6 login-wrapper">           
            <div class="inner-form">
                   <form role="form"   #f="ngForm">
            		   <div class="row">
            		        <div class="logo">
									<img class="imgclass"src="./assets/images/logo.png">
								</div>  
            		        <div class="login-text text-center">
            		            <h2>LOGIN</h2>
        			        </div>         			        
							<br/><br/> 							         			         
        			    	<div class="col-lg-12 col-md-12">
        			    	    <label ><h6 >Email</h6></label>
        			    	    <div class="form-group">
										<input type="email" name="email" class="form-control" ngModel required #email="ngModel" aria-describedby="userNameHelpBlock" placeholder="User Name">
										<small id="userNameHelpBlock" class="form-text text-muted">
												Login with registered email
										</small>        			    			
        			    		</div>
        			    	</div>        			    	
        			    	<div class="col-lg-12 col-md-12">
        			    	    <label><h6>Password</h6></label>
        			    	    <div class="form-group">
										<input type="password" name="password" placeholder="Password" class="form-control" ngModel required #password="ngModel">        							
        			    		</div>
        			    	</div>        			    	
        					<div class="col-lg-12 col-md-12 col-sm-12">
        					    <button type="submit" (click)="onSignIn(f)"class="btn btn-default col-md-4 col-sm-12 btn-login" title="Login">
        							<span>LOGIN</span>
								</button>
								<button type="submit" (click)="onGoogleSignIn()"class="btn btn-default col-md-4 col-sm-12 btn-google" title="Login with google accont">
										<span><i class="fab fa-google"></i> LOGIN</span>
								</button>
        					</div>        					
						 </div>
						<div *ngIf="authService.signinError" class="error-message">
								{{authService.signinErrorMessage}}							
						</div>							
            	     </form>    	    
                </div>			
		</div>   
	</div>   
</div>    